return {
  {
    before={
      cache_name="oauth_token",
      expired=7200, -- ms
      http_endpoint="http://localhost/oauth",
      method="POST",
      data='{"email":"xxx@mail.com","password":"xxx","client_id":"xxx"}'
    },
    doing={
      tag="TuiceOnlineApi",
      required={"access_token"},
      http_endpoint="https://localhost/session",
      method="GET"
    },
    after={
      log_conf={
        output_endpoint="http://127.0.0.1:8086/write?db=monitoring",
        output="influxdb"
      }
    }
  },
  {
    doing={
      tag="Baidu",
      http_endpoint="https://www.baidu.com",
      method="GET"
    },
    after={
      log_conf={
        output_endpoint="http://127.0.0.1:8086/write?db=monitoring",
        output="influxdb"
      }
    }
  },
  {
    doing={
      tag="OW",
      http_endpoint="http://ow.thnuclub.com",
      method="GET"
    },
    after={
      log_conf={
        output_endpoint="http://127.0.0.1:8086/write?db=monitoring",
        output="influxdb"
      }
    }
  }
}
